body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  padding: 0px;
  margin: 0px;
}

p {
  padding: 0px;
  margin: 0px;
}

/* general styles */
.button {
  background-color: #4285f4;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.button:active {
  background-color: #007aff;
}

.mirror {
  transform: scaleX(-1);
}

/* main container styles */
#main {
  height: 100vh;
  background-color: black;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 8% auto 9%;
  grid-template-columns: 30% auto;
  grid-template-areas:
    "top top"
    "vid msg"
    "vid inp";
}

/* top bar styles */
#top-bar {
  grid-area: top;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
  border: solid 1px;
  border-color: black/20;
  align-items: center;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(255, 238, 238, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(255, 238, 238, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(255, 238, 238, 0.25);
}

#logo {
  height: 100%;
}

#logo img {
  height: 100%;
  width: 122px;
}

#logo h1 {
  cursor: pointer;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0px;
}

#top-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#peopleOnline p {
  color: #166af4;
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  margin: 10px;
  margin-right: 20px;
}

#feedback-btn {
  margin: 0;
  padding: 8px;
  display: flex;
  width: 174px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: none;
  border-radius: 4px;
  background: linear-gradient(
    125deg,
    #ff8a00 4.94%,
    rgba(255, 199, 0, 0.85) 104.23%
  );
}

#feedback-btn:active {
  background-color: #419544;
  /* Green */
}

@media (max-width: 743px) {
  .ham-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburg {
    width: 24px;
    height: 24px;
    color: #ffffff;
    align-self: center;
    display: block;
  }

  #header-container-desk {
    display: none;
  }

  #header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 1.25rem 0 1.25rem;
  }

  #header {
    width: 20rem;
    color: #fff;
    font-family: "Clash Display";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex-grow: 1;
  }

  #description {
    width: 20rem;
    transform: rotate(-0.188deg);
    color: #797979;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 150% */
    flex-grow: 1;
  }

  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }

  .hero-icon-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .hero-icon {
    width: 18.375rem;
    height: 15.1875rem;
    align-self: center;
  }
  .hero-icon-tablet {
    display: none;
  }

  .hero-icon-desktop {
    display: none;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video-button {
    display: flex;
    width: 20rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background: linear-gradient(
      125deg,
      #ff8a00 4.94%,
      rgba(255, 199, 0, 0.85) 104.23%
    );
  }

  .vdo-btn-text {
    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

@media (min-width: 744px) {
  #feedback-btn {
    margin: 0;
    padding: 8px;
    display: flex;
    width: 174px;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: block;
    border-radius: 4px;
    background: linear-gradient(
      125deg,
      #ff8a00 4.94%,
      rgba(255, 199, 0, 0.85) 104.23%
    );

    color: #000;

    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .ham-container {
    display: none;
  }

  #header-container-desk {
    display: none;
  }

  #header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 1.25rem 0 1.25rem;
  }

  #header {
    width: 42.0625rem;
    color: #fff;
    font-family: "Clash Display";
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  #description {
    width: 42.91656rem;
    transform: rotate(-0.188deg);
    color: #797979;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    /* 162.5% */
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .hero-icon-container {
    display: flex;
    width: 43rem;
    height: 29.375rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .hero-icon {
    display: none;
  }

  .hero-icon-tablet {
    display: block;
    width: 100%;
    height: 100%;
  }
  .hero-icon-desktop {
    display: none;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video-button {
    display: flex;
    width: 42.1875rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background: linear-gradient(
      125deg,
      #ff8a00 4.94%,
      rgba(255, 199, 0, 0.85) 104.23%
    );
  }

  .vdo-btn-text {
    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

@media (min-width: 1024px) {
  #header-container {
    display: none;
  }

  .hero-container {
    display: none;
  }

  #header-container-desk {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /* padding: 0 3.12rem 0 3.12rem; */
    margin-top: 4.12rem;
  }

  #header-container-desk-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* gap: 2.25rem; */
  }

  #head-cont-desk-info-heading {
    width: 30.8125rem;
    color: #fff;
    font-family: "Clash Display";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  #head-cont-desk-info-desc {
    color: #797979;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 177.778% */
  }

  .hero-icon-container {
    display: flex;
    /* width: 100%; */
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
  }
  .hero-icon-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50.5625rem;
    height: 33.875rem;
    flex-shrink: 0;
    /* width: 100%;
    height: 100%; */
    align-self: center;
  }

  .hero-icon {
    display: none;
  }

  .hero-icon-tablet {
    display: none;
  }

  .video-button-desk {
    display: flex;
    width: 17.5625rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.25rem;
    background: linear-gradient(
      125deg,
      #ff8a00 4.94%,
      rgba(255, 199, 0, 0.85) 104.23%
    );

    .vdo-btn-text-desk {
      color: #000;
      font-family: Inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}

/* video container */
#videos {
  grid-area: vid;
  margin: 10px;
  margin-right: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}

#self {
  overflow: hidden;
  margin-top: 5px;
  border-radius: 16px;
}

#peer {
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
}

#peer img {
  position: absolute;
  width: 25%;
  left: 10px;
  bottom: 10px;
  z-index: 10;
  opacity: 0.7;
}

.video-player {
  width: 100%;
  height: 100%;
  background-color: #666;
  object-fit: cover;
}

#peer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#peer-video-loader {
  position: absolute;
  aspect-ratio: 1;
  width: 25%;
  border-radius: 50%;
  display: inline-block;
  border-top: 6px solid #fff;
  border-right: 6px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

/* message area */
#message-area {
  background: #1e1e1e;
  grid-area: msg;
  margin: 8px;
  padding: 10px;
  overflow-y: auto;
  font-size: 20px;
  border-radius: 16px;
}

.message-status {
  margin: 8px;
  margin-bottom: 16px;
  font-weight: bold;
  color: #888;
}

.message {
  margin: 8px;
  color: #797979;
}

.message .you {
  color: #ffffff;
}

.message .strange {
  color: #f29801;
}

/* input area */
#input-area {
  grid-area: inp;
  display: flex;
  padding: 0;
  padding-bottom: 6px;
  min-width: 0;
}

#skip-btn {
  margin: 0 8px;
  padding: 5px 40px;
  font-size: 20px;
  min-width: 0;
  background-color: #535353;
  border-radius: 4px;
  width: 114px;
  padding: 5px 0px 14px 0px;
}

#skip-btn span {
  display: block;
  font-size: 12px;
  min-width: 0;
}

#message-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 20px;
  min-width: 0;
}

#send-btn {
  margin: 0 8px;
  padding: 5px 40px;
  font-size: 20px;
  background-color: #535353;
  border-radius: 4px;
}

#send-btn span {
  display: block;
  font-size: 12px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* feedback popup */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 3% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#feedbackText {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  resize: vertical;
}

#submit-btn {
  padding: 10px 20px;
}
